@import "foundation";

#site-header {
  .logo img {
    background-color: #FFF !important; // NOTE: The SVG is transparent, so this should never be altered unless you know exactly what you are doing!
    border-radius: 6rem;
  }

  .call-out {
    padding: 1.5rem 0;
    text-align: center;
  }
}

#main-nav {
  a {
    text-align: center;
    background-color: #EEE;
    border: thin solid #DDD;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

#site-footer {
  font-size: 0.8rem;
  color: #AAA;

  h1 {
    font-size: 1.1rem;
    color: #999;
  }

  a {
    color: #888;

    &:hover, &:focus {
      text-decoration: underline;
      color: $anchor-color;
    }
  }
}

// Sitemap
#site-footer > nav {
  ul {
    list-style: none;
  }

  li {
    list-style: none;

    &:hover a, &:focus a {
      text-decoration: underline;
      color: $anchor-color;
    }
  }
}

#content {
  margin: 1rem 0;

  article {
    font-size: 0.9rem;

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.25rem;
    }
  }
}
