<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><% if current_page.data.title %><%= current_page.data.title %> | <% end %><%= config[:site_name] || 'My Site' %></title>
    <%= stylesheet_link_tag 'index.bundle' %>
    <%= javascript_include_tag 'head.bundle' %>
  </head>
  <body class="<%= page_classes %> grid-container fluid">
    <%= partial 'partials/site_header' %>
    <%= partial 'partials/main_navigation' %>

    <article id="content">
      <%= yield %>
    </article>

    <%= partial 'partials/site_footer' %>

    <%= javascript_include_tag 'index.bundle' %>
    <%= yield_content :js_assets %>
  </body>
</html>
