<nav id="main-nav" class="grid-x grid-padding-x">
  <%= link_to 'News', 'index.html', class: 'large-auto medium-6 small-6 cell' %>
  <%= link_to 'About', 'about.html', class: 'large-auto medium-6 small-6 cell' %>
  <%= link_to 'GitHub', 'https://github.com/GrafeasGroup', class: 'large-auto medium-6 small-6 cell' %>
</nav>
