<nav id="main-nav" class="grid-x grid-padding-x">
  <%= link_to 'News', 'index.html', class: 'large-auto medium-3 small-6 cell' %>
  <%= link_to 'About', 'about.html', class: 'large-auto medium-3 small-6 cell' %>
  <%= link_to 'Services', 'services.html', class: 'large-auto medium-3 small-6 cell' %>
  <%= link_to 'Contact', 'contact.html', class: 'large-auto medium-3 small-6 cell' %>
</nav>
