<footer id="site-footer" class="grid-x grid-padding-x align-middle">
  <nav class="links large-4 medium-6 small-auto cell">
    <h1>Sitemap</h1>
    <ul>
      <li><%= link_to 'News', 'index.html' %></li>
      <li><%= link_to 'About', 'about.html' %></li>
      <li><%= link_to 'GitHub', 'https://github.com/GrafeasGroup' %></li>
    </ul>
  </nav>
  <section class="thanks large-4 medium-6 small-auto cell">
    <h1>Special Thanks</h1>
    <ul>
      <li><%= link_to 'Bugsnag', 'https://www.bugsnag.com/open-source/' %> &mdash; for providing free error catching to our open source projects</li>
      <li><%= link_to 'Cloudflare', 'https://blog.cloudflare.com/cloudflare-open-source-your-upgrade-is-on-the-house/' %> &mdash; for providing a free Pro Plan for our domain</li>
      <li><%= link_to 'Hosted by Linode', 'https://www.linode.com/' %></li>
      <li>Patrons who have donated (e.g., <%= link_to 'Patreon', 'https://www.patreon.com/grafeasgroup' %>) for helping to keep the lights on</li>
      <li>The volunteers of <%= tor_link(:main) %> &mdash; we couldn't do it without your support!</li>
    </ul>
  </section>
  <section class="disclaimer large-4 medium-6 small-auto cell">
    <h1>Disclaimer</h1>
    <p>Grafeas Group, Ltd. is a registered non-profit in the state of Indiana, U.S.A. Continued use of content associated with Grafeas Group indicates acceptance of our <%= link_to 'terms of service', 'tos.html' %>.</p>
  </section>
</footer>
