---
title: About
---

<h1>About Us</h1>

<p>The best way to describe our organization is to start with our mission statement:</p>

<blockquote>
  <p>We provide a framework for crowd-sourcing accessible, text-based content for all Internet users, regardless of disability, access devices, or data restrictions.</p>
</blockquote>

<p>There is a lot of content on the internet that is inaccessible to those with visual restrictions, no data plan, or otherwise an inability to load content. A lot of that content is hidden inside images &mdash; images that a phone with low data cannot load, or assistive screen reading technology cannot interpret. We are pioneering a system for locating this content and passing it to volunteers to create pure text representations so that everyone can access it.</p>

<p>This system, so far, has been deployed on Reddit.com under the subreddit <%= tor_link(:main) %> and features an innovative use of gamification concepts and volunteering to engage users and improve communities. Starting with just two people in April of 2017, over 1,450 volunteers have transcribed more than 40,000 pieces of content in the following year. We currently serve a combined digital population of approximately one million Reddit subscribers.</p>

<p>Our work with <%= tor_link(:main) %> has shown that there is a need for this kind of volunteerism and assistance, so we have elected to form a 501(c)(3) to better organize and serve those in need. The name <em>Grafeas Group, Ltd.</em>, as <em>graf&eacute;as</em>, translated from Greek, means "scribe". We see ourselves as the facilitators of the digital scribes and, as such, will do our best to usher in this new avenue of accessibility.</p>

<p>We bring a global presence to this problem, with board members located in the USA, the UK, and the Netherlands. With our explosive growth since inception, we look forward to truly making a mark on today's digital world.</p>
