---
title: Giving, the Second!
---

<p>This is our corporate sponsor page; if the options here don't fit what you're looking for, please let us know by sending a direct message to https://twitter.com/grafeas -- it's the best way to reach us at this time.</p>

<div class="grid-x grid-padding-x">
    <div class="cell large-auto medium-auto text-center">
        <form action="/thanks.html" method="GET">
            <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="pk_live_pRSTbdTHvPIh5i1YkXf1cmBG"
                data-image="/assets/images/logo.png"
                data-name="Grafeas Group, Ltd."
                data-description="Donation ($100.00)"
                data-amount="10000">
            </script>
            <button type="submit" class="button large rounded bordered shadow primary large-down-expanded">$100 USD</button>
        </form>
    </div>
    <div class="cell large-auto medium-auto text-center">
        <form action="/thanks.html" method="GET">
            <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="pk_live_pRSTbdTHvPIh5i1YkXf1cmBG"
                data-image="/assets/images/logo.png"
                data-name="Grafeas Group, Ltd."
                data-description="Donation ($150.00)"
                data-amount="15000">
            </script>
            <button type="submit" class="button large rounded bordered shadow primary large-down-expanded">$150 USD</button>
        </form>
    </div>
    <div class="cell large-auto medium-auto text-center">
        <form action="/thanks.html" method="GET">
            <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="pk_live_pRSTbdTHvPIh5i1YkXf1cmBG"
                data-image="/assets/images/logo.png"
                data-name="Grafeas Group, Ltd."
                data-description="Donation ($200.00)"
                data-amount="20000">
            </script>
            <button type="submit" class="button large rounded bordered shadow primary large-down-expanded">$200 USD</button>
        </form>
    </div>
</div>
<div class="grid-x grid-padding-x">
    <div class="cell large-auto medium-auto text-center">
        <form action="/thanks.html" method="GET">
            <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="pk_live_pRSTbdTHvPIh5i1YkXf1cmBG"
                data-image="/assets/images/logo.png"
                data-name="Grafeas Group, Ltd."
                data-description="Donation ($250.00)"
                data-amount="25000">
            </script>
            <button type="submit" class="button large rounded bordered shadow primary large-down-expanded">$250 USD</button>
        </form>
    </div>
    <div class="cell large-auto medium-auto text-center">
        <form action="/thanks.html" method="GET">
            <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="pk_live_pRSTbdTHvPIh5i1YkXf1cmBG"
                data-image="/assets/images/logo.png"
                data-name="Grafeas Group, Ltd."
                data-description="Donation ($500.00)"
                data-amount="50000">
            </script>
            <button type="submit" class="button large rounded bordered shadow primary large-down-expanded">$500 USD</button>
        </form>
    </div>
    <div class="cell large-auto medium-auto text-center">
        <form action="/thanks.html" method="GET">
            <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="pk_live_pRSTbdTHvPIh5i1YkXf1cmBG"
                data-image="/assets/images/logo.png"
                data-name="Grafeas Group, Ltd."
                data-description="Donation ($1000.00)"
                data-amount="100000">
            </script>
            <button type="submit" class="button large rounded bordered shadow primary large-down-expanded">$1000 USD</button>
        </form>
    </div>
</div>
<script>
    Array.from(document.querySelectorAll('.stripe-button-el')).forEach(function(el) { el.style.display = 'none'; });
</script>
