---
title: Thanks!
---

<h1>Thanks!</h1>
<p>We know that everyone works hard for their money, and we deeply appreciate your decision to help.</p>

<p>Your donation supports the continued work of the Grafeas Group in our efforts for worldwide internet accessibility. Right now, donations are aimed at expanding our partner relationships and increasing our online presence.</p>

<p>Your donation is tax-deductable; once you donate, your receipt will be emailed to you within 24 hours from our partner, Stripe.</p>

<p>Once again, you have our thanks &mdash; thanks for helping us increase accessibility on the web and thanks for being you.</p>

<p>Cheers,</p>

<p>~ Joe Kaufeld<br>
President, Grafeas Group Ltd.</p>
