---
title: Terms of Service
---

<h1>Terms of Service</h1>

<p>Let's keep this really simple: Usage of content ("Content") produced by or associated with Grafeas Group, Ltd. or any of its projects, including but not limited to Transcribers Of Reddit, indicates acceptance of these terms of service ("Terms").</p>

<p>Content is provided under the <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="nofollow noopener">Creative Commons v3.0 by Attribution license</a> on an as-is basis, without any warranty, to the fullest extent allowable by law.</p>
